.Task {
  width: 328px;
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 23px 0 36px;
}

input {
  border: none;
  width: 257px;
  height: 49px;
  border-radius: 0.3125rem;
  background: #EBEFF2;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-image: url("../../assets/complete-circle.svg");
  background-repeat: no-repeat;
  background-position: center left 14px;
  padding-left: 44px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #888;
  font-size: 16px;
  font-weight: 400;
}

button {
  border: none;
  width: 65px;
  height: 49px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #20EEB0;
  color: #FFF;
  font-size: 35px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 888px) {
  .Task {
    width: 380px;
    gap: 10px;
    margin: 23px 0 36px;
  }

  input {
    width: 282px;
    font-size: 14px;
  }

  button {
    width: 88px;
  }
}

@media screen and (min-width: 1150px) {
  .Task {
    width: 580px;
    gap: 18px;
    margin: 35px 0 38px;
  }

  input {
    width: 427px;
    height: 65px;
    font-size: 18px;
    padding-left: 50px;
    background-size: 27px;
  }

  input::placeholder {
    font-size: 18px;
  }

  button {
    width: 135px;
    height: 65px;
  }
}