.Header {
  width: 100%;
  min-height: 202px;
  font-family: 'Russo One', sans-serif;
  background: lightgray url(../../assets/bg.jpg) 50% / cover no-repeat;
  border-radius: 10px 10px 0px 0px;
  color: #FFF;
  text-align: right;
  padding: 114px 28px 0 0;
}

#date {
  font-size: 18px;
}

.Header p {
  font-size: 48px;
}